<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NODE/EXPRESS JS...</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <%- include partials/nav.ejs %>

    <h1>Welcome to the web site</h1>
    <p>You wont find a better web site.</p>
  </body>
</html>
