
body {
  background-color: pink;
}
h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
p, li {
  font-size: 16px;
  text-align: center;
}
ul {
  list-style: none;
}
#contact-form {
  margin: 1em;
  text-align: center;
}

#contact-form > label,#contact-form > input{
  display: block;
  margin: 0 auto;
}
